# For Lambda and Cognito stacks
USERPOOL_ID=eu-west-2_LETTERSANDNUMBERS

# For Web and Lambda stacks
CUSTOM_DOMAIN_NAME=minecraft.example.com
R53_ZONE_ID=ZLETTERSANDNUMBERS

# For the Lambda Stack
LAMBDA_VERSION=0.0.1
CLIENT_ID=lettersandnumbers
GET_LAMBDA_VALID_GROUP_NAMES=read-only-group read-write-group
POST_LAMBDA_VALID_GROUP_NAMES=read-write-group
MINECRAFT_EC2_INSTANCE_ID=i-lettersandnumbers

# For the Cognito Stack
CLIENT_NAME=minecraft-on-demand-mobile-app
CALLBACK_URLS=com.example.minecraft://loggedin https://minecraft.example.com/loggedin
LOGGEDOUT_URLS=com.example.minecraft://loggedout https://minecraft.example.com/loggedout

