CUSTOM_DOMAIN_NAME=example.com
R53_ZONE_ID=zoneid
LAMBDA_VERSION=0.0.1

# Depending on whether you use roles or groups for permissions:
AWS_AUTOMATION_ROLE_ARN=arn:aws:iam::account_number:role/role_name
# or
AWS_AUTOMATION_GROUP_ARN=arn:aws:iam::account_number:group/group_name

# This is optional depending on whether you use permission boundaries.
AWS_BOUNDARY_POLICY_ARN=arn:aws:iam::accountnumber:policy/boundary_policy

# See ../../RaspberryPi/env.template for these.
LOGGING_TOPIC=logging/topic
CLIENT_ID=RaspberryPi

# ARN of the certificate that already exists that you want to attach
# to the IOT Thing that this CDK will create.
CERT_ARN=arn:aws:iot:region:account:cert/stuff
