# For both stacks
USERPOOL_ID=eu-west-2_LETTERSANDNUMBERS

# For the Lambda Stack
CUSTOM_DOMAIN_NAME=minecraft.example.com
R53_ZONE_ID=ZLETTERSANDNUMBERS
LAMBDA_VERSION=0.0.1
CLIENT_ID=lettersandnumbers
GET_LAMBDA_VALID_GROUP_NAMES=read-only-group read-write-group
POST_LAMBDA_VALID_GROUP_NAMES=read-write-group
MINECRAFT_EC2_INSTANCE_ID=i-lettersandnumbers

# For the Cognito Stack
CLIENT_NAME=minecraft-on-demand-mobile-app
CALLBACK_URLS=com.example.minecraft://loggedin
LOGGEDOUT_URLS=com.example.minecraft://loggedout

